<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th>Round</th>
                <th>Player 1</th>
                <th>Player 2</th>
                <th>Date & Time</th>
            </tr>
            </thead>
            <tbody>
            {% for row in results %}
                <tr class="{{ 'winner' in row }}">
                    <td>{{ row.roundNumber }}</td>
                    <td>{{ row.player1Pick }}</td>
                    <td>{{ row.player2Pick }}</td>
                    <td>{{ row.roundDate }}</td>
                </tr>
            {% else %}
                <tr><td colspan="4">0 results</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>